<div id="spree-header">
  <header id="header" data-hook>
      <div class="row">
        <div class="col-md-4">
          <%= render :partial => 'spree/shared/main_nav_bar' if store_menu? %> 
        </div>
        <figure id="logo" class="col-md-4 text-center" data-hook>
          <%= image_tag "ucd-logo.png" %>
        </figure>
        <div class="col-md-4">
          <%= render :partial => 'spree/shared/nav_bar' %>
        </div>
      </div>
  </header>
  <div class="container text-center">
    <%= render :partial => 'spree/shared/search' %>
  </div>
</div>