<% max_level = Spree::Config[:max_level_in_taxons_menu] || 1 %>
<nav>
  <div id="main-nav-bar" class="navbar">
    <ul class="nav navbar-nav" data-hook>
    	<li id="home-link" class="active" data-hook><%= link_to Spree.t(:home), spree.root_path %></li>
      <% get_taxonomies.each do |taxonomy| %>
        <% cache [I18n.locale, taxonomy, max_level] do %>
          <li><%= link_to  taxonomy.name, seo_url(taxonomy.root) %></li>
        <% end %>
      <% end %>
      <li>
        <%= link_to "Photos" , partners_path, class: 'link-ucd' %>
      </li>
    </ul>
  </div>
</nav>
