<div style='text-align: center'>
  <%= image_tag attachments['logo.png'].url, width: '140', height: '100' %>
  <br>
  <span>ULTIMATE CYCLE DISTRIBUTION</span>
</div>

<h1 style='text-align: center'>
  <%= yield(:subject) %>
</h1>

<div style='text-align: center'>
  <%= yield(:body) %>
</div>


<div style='margin-top: 50px;text-align: center'>
  <span>UTLIMATE CYCLE DISTRIBUTION</span>
  -
  <span><%= link_to "Ultimate Cycle Distribution", 'http://www.ultimate-cycle-distribution.com' %></span>
</div>
